DATABASE_URL=postgresql://neondb_owner:npg_DoskK9THe8QA@ep-dark-credit-aofm35n8-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=8000
JWT_SECRET=grg5442gf34tt5g56h632r23ffg543y65u564fewf433r2r23r3fdffgfhg
JWT_REFRESH_SECRET=hw7663hf45uu6h743i753gghjj654z76v675gfxf544s3s34s4geggghih
CLIENT_URL=http://localhost:3000
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
RESEND_API_KEY=re_jHXANHmQ_FrPMCGjF7UxB1Tz5mK5PL8LU
CLOUDINARY_CLOUD_NAME=ds0qtbblj
CLOUDINARY_API_KEY=148721541199673
CLOUDINARY_API_SECRET=3wXtWUJVgVFSiejfkGtGZR82UgE
ADMIN_EMAIL=your-admin@email.com